<form action="/people/add" method="POST">
    <p>
        <label>First Name:</label><input value="" name="fname" /><br/><br/>
        <label>Salary:</label><input value="" name="salary" /><br/><br/>
        <label>Contact:</label><input value="" name="mno" /><br/><br/>
        <button type="submit">Add People</button>
    </p>
</form>
